extends layout

block content
  .container
    .row
      .col-sm-9
        a(href='/accounts')
          i.fa.fa-chevron-left.fa-2x
      .col-sm-2
        form(role='form', action='/accounts/manage/'+account.name+'/stages/', method="get")
          button.btn.btn-warning(type='submit') Manage Stage
      .col-sm-1
        a(href="/logout")
          i.fa.fa-sign-out.fa-2x
    .page-header
      h1
        | #{account.name}
        small  managed by #{account.primary_manager.username}
      .row.text-center
        for feature in account.features
          .col-xs-1.col-sm-1.col-md-1
            button.btn.btn.btn-danger.btn-block.btn-xs #{feature.name}
    .row
      .col-sm-10
        .row
          .col-sm-3
            button.btn.btn-primary#stageButton(onclick="stageBarReport('" + account.name + "')") Days / Stage
        br
        .row
            canvas#myChart(style='width: 300px; height: 100px')
      .col-sm-2
        .list-group
          .row
            p Agreed On
            if(account.agreed_date)
              | #{account.agreed_date}
            else
              | ~
            hr
            p Onboarding Started On
            if(account.onboarding_start_date)
              | #{account.onboarding_start_date}
            else
              | ~
            hr
            p Expected Live Date
            if(account.expected_go_live_date)
              | #{account.expected_go_live_date}
            else
              | ~
            hr
            p Actual Live Date
            if(account.actual_live_date)
              | #{account.actual_live_date}
            else
              | ~
    br
    hr
    br
    .row
      .list-group
        .row
          form(role='form', action='/accounts/manage/'+account.name+'/add-comment', method="post")
            .row
              textarea.form-control(rows='3', name='comment')
            br
            .row.text-center
              button.btn.btn-warning(type='submit') add comment
        hr
        .row
          p.lead Timeline
          if(account.comments.length > 0)
            for comment in account.comments.reverse().slice(0, 3)
              if(comment.body.includes('New Stage:'))
                p.list-group-item-text
                span.label.label-info Stage Added
                |  #{comment.body.replace('New Stage:', '')}
              else if(comment.body.includes('Stage Completed:'))
                p.list-group-item-text
                span.label.label-success Stage Completed
                |  #{comment.body.replace('Stage Completed:', '')}
              else
                p.list-group-item-text #{comment.body}
              br
              p
              i  #{comment.by.username}
              |  @
              i  #{comment.date}
              hr
          else
            p No updates on the account yet
