extends layout

block content
  .container
    p.lead Manage Accounts
    i.fa.fa-plus-square(aria-hidden='true')
    &nbsp;
    a(href='/accounts/add') New Account
    br
    br
    a(href='/')
      i.fa.fa-chevron-left.fa-2x(aria-hidden='true')
    table.table.table-hover.table-stripped
      thead
        tr
          th Account
          th Stage
          th Account Manager
          th Secondary Manager
          th Edit
      for account in accounts
        tr
          td
            a(href='/accounts/#{account.name}') #{account.name}
            if (account.is_on_web)
              &nbsp;
              i.fa.fa-globe(aria-hidden='true', style='color:orange')
            if (account.is_on_android)
              &nbsp;
              i.fa.fa-android(aria-hidden='true', style='color:green')
            if (account.is_on_ios)
              &nbsp;
              i.fa.fa-apple(aria-hidden='true', style='color:grey')
            if (account.is_on_loyalty)
              &nbsp;
              i.fa.fa-diamond(aria-hidden='true', style='color:red')
          td
            p #{account.stage}
          td
            p #{account.primary_manager}
          td
            p #{account.secondary_manager}
          td
            a(href='/accounts/edit/#{account.name}')
              i.fa.fa-pencil(aria-hidden='true')
