extends manage-header.pug

block pane
  .row
    .col-md-2
      h4 Filters
      form(role='form', action="/accounts/", method="get", style='max-width: 300px;')
        .form-group
          label(for='primary_manager') Primary Manager
          select.form-control(name='primary_manager')
            option all
            for user in users
              option(value=user._id, selected=user.username == filters.primary_manager) #{user.username}
        .form-group
          label(for='secondary_manager') Secondary Manager
          select.form-control(name='secondary_manager', value=filters.secondary_manager)
            option all
            for user in users
              option(value=user._id, selected=user.username == filters.secondary_manager) #{user.username}
        button.btn.btn-warning(type='submit') Submit

    .col-md-8
      .row
        .col-sm-8
          form(role='form', action="/accounts/", method="get")
            .input-group
              input.form-control(type='text', placeholder='Search for...', name='name')
              span.input-group-btn
                button.btn.btn-warning(type='submit') Go!
        .col-sm-2
          a.btn.btn-warning(href='/accounts/add', role='button') Add Account
      br
      .row
        table.table.table-hover.table-stripped
          thead
            tr
              th Account
              th Primary Manager
              th Secondary Manager
              th Edit
              th Delete
          for account in accounts
            tr
              td
                a(href='/accounts/view/'+account.name) #{account.name}
              td
                p #{account.primary_manager.username}
              td
                p #{account.secondary_manager.username}
              td
                a(href='/accounts/edit/'+account.name)
                  i.fa.fa-pencil(aria-hidden='true')
              td
                a(href='/accounts/remove/'+account.name)
                  i.fa.fa-trash(aria-hidden='true')
