extends layout

block content
  .container
    .row
      .col-sm-9
        a(href='/accounts')
          i.fa.fa-chevron-left.fa-2x
      .col-sm-2
        form(role='form', action='/accounts/manage/'+account.name+'/stages/', method="get")
          button.btn.btn-warning(type='submit') Manage Stage
      .col-sm-1
        a(href="/logout")
          i.fa.fa-sign-out.fa-2x
    .page-header
      h1
        | #{account.name}
        small  managed by #{account.primary_manager.username}
      .row.text-center
        for feature in account.features
          .col-xs-1.col-sm-1.col-md-1
            button.btn.btn.btn-danger.btn-block.btn-xs #{feature.name}
    .row
      .col-sm-10
        .row
          .col-sm-3
            button.btn.btn-primary#stageButton(onclick="stageBarReport('" + account.name + "')") Bar Chart
          .col-sm-3
            button.btn.btn-primary(onclick="stagePieReport('" + account.name + "')") Pie Chart
          .col-sm-3
            button.btn.btn-primary(onclick="stageLineReport('" + account.name + "')") Line Chart
        br
        .row
            canvas#myChart(style='width: 300px; height: 100px')
      .col-sm-2
        .list-group
          .row
            form(role='form', action='/accounts/manage/'+account.name+'/add-comment', method="post")
              .row
                textarea.form-control(rows='3', name='comment')
              br
              .row.text-center
                button.btn.btn-warning(type='submit') add comment
          hr
          .row
            p.lead Comments
            if(account.comments)
              for comment in account.comments.reverse().slice(0, 3)
                p.list-group-item-text #{comment.body}
                p by #{comment.by.username} on #{comment.date}
                br
            else
              p No comments yet
