extends manage-header.pug

block main-pane
  .div.well(style="background-color:#E9F4F4")
    .row
      .col-md-2
        p.lead Accounts
      .col-md-8
        form.form-inline(role='form', action="/accounts/", method="get")
          .form-group
            input.form-control(type='text', name='name', value=query_param.name, placeholder='Search', style="margin-left:5px")
          .form-group
            label(for='#contact-filter', style="margin-left:5px") Contact:
            select#state-filter.form-control(name='contact', style="margin-left:5px")
              option all
              for user in users
                option(value=user._id, selected=query_param.contact==user._id) #{user.username}
          button.btn.btn-primary.btn-sm(type='submit', style="margin-left:5px") Apply
          if(query_param.contact || query_param.name)
            a(href='/accounts', style="margin-left:15px")
              i.fa.fa-times(aria-hidden='true')
              | clear
      .col-md-2
        a.btn.btn-primary.btn-sm(href='/accounts/add', role='button')
          i.fa.fa-plus(aria-hidden='true')
          |  Add Account
  br
  .row
    table#accountTable.table.table-hover.table-stripped.table-responsive
      thead
        tr
          th Account
          th Contact
          th Features
      for account in accounts
        tr
          td
            a(href='/accounts/view/'+account.name) #{account.name}
          td
            p #{account.primary_manager.username} / #{account.secondary_manager.username}
          td
            for feature in account.features
              if(feature.name.length > 4)
                - var featureName = feature.name.substring(0, 3)+'...'
              else
                - var featureName = feature.name
              .col-xs-12.col-sm-3.col-md-3
                button.btn.btn.btn-block.btn-xs(data-toggle='tooltip', data-placement='top', title=feature.name, style='background-color:' + feature.bg_color + ';border-color:' + feature.bg_color + ';color:'+ feature.font_color) #{featureName}
                br
