extends layout

block content
  .container
    if (!user)
      a(href="/")
        img.img-square(src='/images/moana-cat.png', height='150', width='200')
      p.lead Hey there, I am moana. Your on-boarding virtual assistant.
      br
      p Login to access your account.
      a(href="/login") Login
      br
      br
      p New user? register to continue.
      a(href="/register") Register
    else
      p.lead Hey #{user.username}, Good to see you back.
      br
      if (user.is_admin)
        p Manage Section
        br
        a(href="/users") Manage Users
        br
        br
        a(href="/accounts") Manage Accounts
        br
        br
      br
      p Your Primary Accounts
      if(primary_accounts.length > 0)
        for primary_account in primary_accounts
          a(href='/accounts/#{primary_account.name}') #{primary_account.name}
          br
          br
      else
        p you are yet to start managing accounts
      br
      br
      p Your Secondary Accounts
      if(secondary_accounts.length > 0)
        for secondary_account in secondary_accounts
          a(href='/accounts/#{secondary_account.name}') #{secondary_account.name}
          br
          br
      else
        p you don't have any secondary accounts
      br
      a(href="/logout") Logout
