extends manage-header.pug

block main-pane
  .div.well(style="background-color:#E9F4F4")
    .row
      .col-md-2
        p.lead Features
      .col-md-8
        form.form-inline(role='form', action="/features/", method="get")
          .form-group
            input.form-control(type='text', name='name', value=query_param.name, placeholder='Search', style="margin-left:5px")
          if(req_user.role=='administrator')
            .form-group
              label(for='#contact-filter', style="margin-left:5px") State:
              select.form-control(name='state', style="margin-left:5px")
                for item in ['active', 'deleted']
                  option(selected=query_param.state==item) #{item}
          button.btn.btn-primary.btn-sm(type='submit', style="margin-left:5px") Apply
          if(query_param.state || query_param.name)
            a(href='/features', style="margin-left:15px")
              i.fa.fa-times(aria-hidden='true')
              | clear
      if(req_user.role=='administrator')
        .col-md-2
            a.btn.btn-primary.btn-sm(href='/features/add', role='button')
              i.fa.fa-plus(aria-hidden='true')
              |  Add Feature
  br
  if(features)
    table#featureTable.table.table-hover.table-stripped.table-responsive
      thead
        tr
          th Feature
          th Background Color
          th Font Color
          if(req_user.role=='administrator')
            th
      for feature in features
        tr
          td
            if(req_user.role=='administrator')
              a(href='/features/edit/'+feature.name) #{feature.name}
            else
              p #{feature.name}
          td
            button.btn.btn(style="background-color:" + feature.bg_color + ";border-color:" + feature.bg_color + ";padding: 10px 50px;")
          td
            button.btn.btn(style="background-color:" + feature.font_color + ";border-color:" + feature.font_color + ";padding: 10px 50px;")
          if(req_user.role=='administrator')
            td
              if(feature.is_deleted)
                button.btn.btn-primary.btn-xs#restoreFeature(onclick='confirmationBox("Restore", "/features/restore/' + feature.name + '")') Restore
              else
                button.btn.btn-danger.btn-xs#deleteFeature(onclick='confirmationBox("Remove", "/features/remove/' + feature.name + '")') Remove
  else
    p.text-center No features created yet. create one
