extends layout

block content
  .container
    h1 Create Account
    form(role='form', action="/accounts", method="post", style='max-width: 800px;')
      .row
        .col-sm-4
          .form-group
            label(for='name') Name
            input#name.form-control(type='text', name='name', placeholder='name')
          .form-group
            label(for='primary_manager') Account Manager
            select.form-control(name='primary_manager')
              for user in users
                option(value=user._id) #{user.username}
          .form-group
            label(for='secondary_manager') Backup Manager
            select.form-control(name='secondary_manager')
              for user in users
                option(value=user._id) #{user.username}
          .form-group
            label(for='no_of_stores') No: of Stores
            input#no_of_stores.form-control(name='no_of_stores', type='number')
        .col-sm-4
          .form-group
            label(for='agreed_date') Agreed Date
            input#agreed_date.form-control(name='agreed_date', type='date')
          .form-group
            label(for='onboarding_start_date') Onboarding Start Date
            input#onboarding_start_date.form-control(name='onboarding_start_date', type='date')
          .form-group
            label(for='expected_go_live_date') Expected Go Live Date
            input#expected_go_live_date.form-control(name='expected_go_live_date', type='date')
          .form-group
            label(for='actual_live_date') Actual Live Date
            input#actual_live_date.form-control(name='actual_live_date', type='date')
        .col-sm-4
          h4 Choose features
          if(features.length > 0)
            for feature in features
              .checkbox
                label
                  input(name=feature.name, type='checkbox', value=feature._id)
                  |     #{feature.name}
          else
            p Couldn't find any features in the system
      .row
        .col-xs-2.col-sm-2.col-md-2
          input.btn.btn.btn-warning.btn-block(type='submit', value='Create')
        .col-xs-2.col-sm-2.col-md-2
          a.btn.btn.btn-primary.btn-block(href='/accounts') Cancel
