extends manage-header.pug

block main-pane
  br
  .row
    .col-md-2
      h4 Filters
      form(role='form', action="/tasks/", method="get", style='max-width: 300px;')
        .form-group
          label(for='assignee') Assignee
          select.form-control(name='assignee')
            option all
            for user in users
              option(value=user._id, selected=user.username == filters.assignee) #{user.username}
        .form-group
          label(for='owner') Owner
          select.form-control(name='owner', value=filters.owner)
            option all
            for user in users
              option(value=user._id, selected=user.username == filters.owner) #{user.username}
        button.btn.btn-secondary(type='submit') Submit

    .col-md-10
      .row
        .col-sm-10
          form(role='form', action="/tasks/", method="get")
            .input-group
              input.form-control(type='text', placeholder='Search for...', name='name')
              span.input-group-btn
                button.btn.btn-secondary(type='submit') Go!
        .col-sm-2
          a.btn.btn-secondary(href='/tasks/add', role='button') Add Task
      br
      .row
        for task in tasks
          .col-sm-6
            .card
              .card-body
                h5.card-title #{task.title}
                - var current_stage = task.current_stage
                if(current_stage)
                  p.card-text #{current_stage.name}
                else
                  p.card-text Not Started Yet
                a.btn.btn-primary(href='/tasks/view/'+task.slug) read more
            br
