extends manage-header.pug

block main-pane
  br
  .row
    .col-md-10
      .row
        .col-sm-4
          input.form-control(type='text', placeholder='Search for...', name='name')
        .col-sm-2
          select.form-control(name='assignee')
            option all
            for user in users
              option(value=user._id, selected=user.username == filters.assignee) #{user.username}
        .col-sm-2
          select.form-control(name='owner', value=filters.owner)
            option all
            for user in users
              option(value=user._id, selected=user.username == filters.owner) #{user.username}
        .col-sm-2
          a.btn.btn-secondary(href='/tasks/add', role='button') Add Task
  br
  .row
    .col-md-10
      for task in tasks
        .ul.list-group.list-group-flush
          .li.list-group-item
            h5 #{task.title}
            - var current_stage = task.current_stage
